<h2>Account Details</h2>
<div layout="row" layout-xs="column">
    <div flex class="md-whiteframe-4dp" layout-padding layout="column">
        <img ng-if="user.picture" ng-src="{{user.picture}}" class="md-avatar account-picture" alt="profile picture"
             height="200px"
             width="200px"/>
        <img ng-if="!user.picture" src="img/profile.png" class="md-avatar account-picture" alt="profile picture"
             height="200px"
             width="200px"/>

        <h2 class="md-headline">Your details</h2>
        <form class="userForm" name="userForm" ng-submit="update()">
            <md-input-container class="md-block">
                <label>First Name</label>
                <input type="text" required name="firstname" ng-model="user.firstname">
                <div ng-messages="registerForm.firstname.$error">
                    <div ng-message="required">First Name is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last Name</label>
                <input type="text" required name="lastname" ng-model="user.lastname">
                <div ng-messages="registerForm.lastname.$error">
                    <div ng-message="required">Last Name is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Country of origin</label>
                <input type="text" required name="country" ng-model="user.country">
                <div ng-messages="registerForm.country.$error">
                    <div ng-message="required">Country of origin is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button type="submit" ng-disabled="!userForm.$dirty">Save</md-button>
            </div>
            <md-card-actions layout="column" layout-align="end center">
                <md-button>Change Password</md-button>
                <md-button layout="row" class="md-warn md-primary md-raised">Delete my Account</md-button>
            </md-card-actions>
        </form>
    </div>

    <div flex layout-padding>
        <h2 layout="row" layout-align="center center" class="md-headline">My requests</h2>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="request in myRequests"
                          ui-sref="request.detail({requestId: request._id})">
                <div class="md-list-item-text">
                    <h3>{{request.title}}</h3>
                    <p>{{request.date | date: 'dd.MM.yyyy'}}</p>
                </div>
                <md-icon layout-margin class="md-icon-button" ui-sref="request.detail({requestId: request._id})">
                    <i class="material-icons">mode_edit</i>
                </md-icon>
                <md-icon layout-margin class="md-icon-button" ng-click="deleteItem(request, $event)">
                    <i class="material-icons">delete</i>
                </md-icon>
            </md-list-item>

        </md-list>

        <h2 layout="row" layout-align="center center" class="md-headline">My Accepted Requests</h2>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="request in myAcceptedRequests"
                          ui-sref="request.detail({requestId: request._id})">
                <img ng-if="request._requester.picture" ng-src="{{request._requester.picture}}" class="md-avatar"
                     alt="profile picture"/>
                <img ng-if="!request._requester.picture" src="img/profile.png" class="md-avatar"
                     alt="profile picture"/>

                <div class="md-list-item-text">
                    <h3>{{request._requester.firstname}} {{request._requester.lastname}}</h3>
                    <h4>{{request.title}}</h4>
                    <p>{{request.description}}</p>
                    <p>{{request.date | date: 'dd.MM.yyyy'}}</p>
                </div>
                <md-icon layout-margin class="md-icon-button" ui-sref="request.detail({requestId: request._id})">
                    <i class="material-icons">remove_circle</i>
                </md-icon>
            </md-list-item>
        </md-list>

        <h2 layout="row" layout-align="center center" class="md-headline">My Offers</h2>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="offer in myOffers" ui-sref="offer.detail({offerId: offer._id})">
                <div class="md-list-item-text">
                    <h4>{{offer.title}}</h4>
                    <p>{{offer.date | date: 'dd.MM.yyyy'}}</p>
                </div>
                <md-icon layout-margin class="md-icon-button" ui-sref="offer.detail({offerId: offer._id})">
                    <i class="material-icons">mode_edit</i>
                </md-icon>
                <md-icon layout-margin class="md-icon-button" ng-click="deleteItem(offer, $event)">
                    <i class="material-icons">delete</i>
                </md-icon>
            </md-list-item>
        </md-list>

        <h2 layout="row" layout-align="center center" class="md-headline">My Accepted Offers</h2>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="offer in myAcceptedOffers" ui-sref="offer.detail({offerId: offer._id})>
                        <img ng-if=" offer._offerer.picture
            " ng-src="{{offer._offerer.picture}}" class="md-avatar" alt="profile picture"/>
            <img ng-if="!offer._offerer.picture" src="img/profile.png" class="md-avatar" alt="profile picture"/>

            <div class="md-list-item-text">
                <h3>{{offer._offerer.firstname}} {{offer._offerer.lastname}}</h3>
                <h4>{{offer.title}}</h4>
                <p>{{offer.description}}</p>
                <p>{{offer.date | date: 'dd.MM.yyyy'}}</p>
            </div>
            <md-icon layout-margin class="md-icon-button" ui-sref="offer.detail({offerId: offer._id})">
                <i class="material-icons">remove_circle</i>
            </md-icon>
            </md-list-item>
        </md-list>
    </div>
</div>

