$color-background: #edefed;
$color-seperator: #ababab;
$color-accent: #ffeb3b;

$color-message-other: #3f51b5;
$color-message-mine: #e1e1e1;
$color-message-text-mine: #202020;
$color-message-text-other: #dedede;

$color-item-description: #f1f1f1;

