<!-- not logged in -->
<div layout="row" ng-if="loggedIn == false"></divlayout>
    <md-button class="md-accent" ng-click="showSignupDialog()">
        Sign Up
    </md-button>
    <md-button class="md-primary md-raised" ng-click="showLoginDialog()">
        Log in
    </md-button>
</div>

<!-- logged in -->
<div layout="row" layout-align="center center" ng-if="loggedIn">
    <div disabled="true" class="greeting" ui-sref="account" layout="row">
        <div>
            <img ng-if="user.picture" ng-src="{{user.picture}}" class="md-avatar" alt="profile picture"/>
            <img ng-if="!user.picture" src="img/profile.png" class="md-avatar" alt="profile picture"/>
        </div>
        <div flex layout-margin>
            {{user.firstname}}
        </div>
    </div>
    <md-button ng-if="loggedIn" class="md-primary md-raised"" ng-click="logout()">
        Log out
    </md-button>
</div>
