<form class="login-form" name="loginForm" ng-submit="login()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
        </div>
    </md-toolbar>
    <div layout-margin layout-padding>
        <md-dialog-content layout-margin layout-fill>
            <md-input-container class="md-block">
                <label>Email</label>
                <input required name="email" ng-model="email">
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">Email is required.</div>
                </div>
            </md-input-container>
            <div flex></div>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" required ng-model="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" class="error-text">
                <div ng-show="errorText">
                    {{errorText}}
                </div>
            </div>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row" layout-align="space-around center">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" type="submit" ng-disabled="loginForm.$invalid">
            Log in
        </md-button>
    </md-dialog-actions>
</form>
