<div ng-click="toggleOfferForm()" style="width:100%" layout="row" layout-align="center center">
    <img ng-if="!offerFormShown" ng-src="img/expandmore.svg" style="height:42px; width:42px" alt="Show more"/>
    <img ng-if="offerFormShown" ng-src="img/expandless.svg" style="height:42px; width:42px" alt="Show less"/>
    <p>Create an Offer</p>
</div>
<form class="offer-form" name="$parent.offerForm" ng-submit="submitOffer()" layout-fill ng-if="offerFormShown" flex="50">

    <div layout-margin layout-padding>
        <md-dialog-content layout-margin layout-padding>
            <md-input-container class="md-block">
                <label>Title</label>
                <input type="text" required name="title" ng-model="offer.title">
                <div ng-messages="offerForm.title.$error">
                    <div ng-message="required">Title is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Type</label>
                <md-select ng-model="offer.type">
                    <md-option ng-repeat="type in offerTypes" value="{{type}}" >{{type}}</md-option>
                </md-select>
            </md-input-container>
            <md-datepicker ng-model="offer.date"></md-datepicker>
            <md-input-container class="md-block">
                <label>Description</label>
                <input type="text" required name="description" ng-model="offer.description">
                <div ng-messages="offerForm.description.$error">
                    <div ng-message="required">Description is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Number of Participants</label>
                <input type="number" required name="maxNumberOfParticipants" ng-model="offer.maxNumberOfParticipants">
                <div ng-messages="offerForm.maxNumberOfParticipants.$error">
                    <div ng-message="required">Number of Participants is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Price</label>
                <input type="number" required name="price" ng-model="offer.price">
                <div ng-messages="offerForm.price.$error">
                    <div ng-message="required">Price is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" class="error-text">
                <div ng-show="errorText">
                    {{errorText}}
                </div>
            </div>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row" layout-align="end">
        <md-button class="md-primary md-raised" type="submit" ng-disabled="offerForm.$invalid">
            Submit Offer
        </md-button>
        <div flex="5"></div>
    </md-dialog-actions>
</form>

