<form class="register-form" name="registerForm" ng-submit="register()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create a new account</h2>
        </div>
    </md-toolbar>

    <div layout-margin layout-padding>
        <md-dialog-content layout-margin layout-padding>
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" required name="email" ng-model="email">
                <div ng-messages="registerForm.email.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">This is not a valid email.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" required name="password" ng-model="pwd">
                <div ng-messages="registerForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Repeat password</label>
                <input type="password" name="passwordConfirm" required compare-to="pwd" ng-model="pwdConfirm">
                <div ng-messages="registerForm.passwordConfirm.$error">
                    <div ng-message="required">Password confirmation required.</div>
                    <div ng-message="compareTo">Passwords must match.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>First Name</label>
                <input type="text" required name="firstname" ng-model="firstname">
                <div ng-messages="registerForm.firstname.$error">
                    <div ng-message="required">First Name is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last Name</label>
                <input type="text" required name="lastname" ng-model="lastname">
                <div ng-messages="registerForm.lastname.$error">
                    <div ng-message="required">Last Name is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Country of origin</label>
                <input type="text" required name="country" ng-model="country">
                <div ng-messages="registerForm.country.$error">
                    <div ng-message="required">Country of origin is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" class="error-text">
                <div ng-show="errorText">
                    {{errorText}}
                </div>
            </div>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row" layout-align="space-around center">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" type="submit" ng-disabled="registerForm.$invalid">
            Sign up
        </md-button>
    </md-dialog-actions>
</form>
