<div ng-click="toggleRequestForm()" style="width:100%" layout="row" layout-align="center center">
    <img ng-if="!requestFormShown" ng-src="img/expandmore.svg" style="height:42px; width:42px" alt="Show more"/>
    <img ng-if="requestFormShown" ng-src="img/expandless.svg" style="height:42px; width:42px" alt="Show less"/>
    <p>Create a Request</p>
</div>
<form class="request-form" name="$parent.requestForm" ng-submit="submitRequest()" layout-fill ng-if="requestFormShown" flex="50">
    <div layout-margin layout-padding>
        <md-dialog-content layout-margin layout-padding>
            <md-input-container class="md-block">
                <label>Title</label>
                <input type="text" required name="title" ng-model="request.title">
                <div ng-messages="requestForm.title.$error">
                    <div ng-message="required">Title is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Type</label>
                <md-select ng-model="request.type">
                    <md-option ng-repeat="type in requestTypes" value="{{type}}">{{type}}</md-option>
                </md-select>
            </md-input-container>
            <md-datepicker ng-model="request.date"></md-datepicker>
            <md-input-container class="md-block">
                <label>Description</label>
                <input type="text" required name="description" ng-model="request.description">
                <div ng-messages="requestForm.description.$error">
                    <div ng-message="required">Description is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Price</label>
                <input type="number" required name="price" ng-model="request.price">
                <div ng-messages="offerForm.price.$error">
                    <div ng-message="required">Price is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" class="error-text">
                <div ng-show="errorText">
                    {{errorText}}
                </div>
            </div>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row" layout-align="end">
        <md-button class="md-primary md-raised" type="submit" ng-disabled="requestForm.$invalid">
            Submit Request
        </md-button>
        <div flex="5"></div>
    </md-dialog-actions>
</form>
