.item-information {
  border-left: 10px solid $color-accent;
  .profile-picture {
    img {
      border: 4px solid $color-accent;
      padding: 0;
      margin: 0 auto;
      display: block;
      height: 200px;
      width: 200px;
    }
  }
  .item-description {
    background-color: $color-item-description;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    p {
      font-style: italic;
    }
    textarea {
      height: 300px;
    }
  }
}

.chat-container {
  margin-top: 30px;
}

.chat-messages-container {
  background-color: $color-item-description;
  height: 500px;
  overflow-x: auto;
}

.chat-message {
  margin: 5px 0;
}

.message-box {
  background: $color-message-other;
  color: $color-message-text-other;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
}

.my-message {
  background: $color-message-mine;
  color: $color-message-text-mine;
  text-align: right;
}

.message-content {
  margin: 0;
  padding: 0;
}

.message-timestamp {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #7f7f7f;
}

.chat-message-bar {
  height: 10%;
  width: 100%;
  .chat-input {
    margin-bottom: 0;
    width: 100%;
  }
}

