header {
  width: 100%;
  height: 250px;
  background: url("../img/flags.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  .header-title {
    height: 100%;
    font-size: 70px;
    color: white;
    text-shadow: 0 0 10px black;
  }
}

.account-options {
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.greeting {
  color: $color-accent;
  text-shadow: 0 0 10px black;
  vertical-align: middle;
  cursor: pointer;
  img {
    height: 36px;
    border-radius: 50%;
    border: 1px solid $color-accent;
  }
}

md-sidenav {
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
