<md-card create-offer layout-align="center center"></md-card>
<div layout="row" layout-align="start center" layout-margin>
    <h2>Open offers:</h2>
</div>

<div layout="row" layout-align="start center" layout-margin>
    <input type="search" ng-model="searchByType" placeholder="Search by type">
    <input type="search" ng-model="searchByDescription" placeholder="Search by description">
</div>

<md-content>
    <md-list flex>
        <md-list-item class="md-3-line md-long-text" ui-sref="offer.detail({offerId: offer._id})" ng-repeat="offer in offers | orderBy:'-date' | filter: { type : searchByType} | filter: {description: searchByDescription}">
            <img ng-if="offer._creator.picture" ng-src="{{offer._creator.picture}}" class="md-avatar" alt="{{offer.user.username}}" />
            <img ng-if="!offer._creator.picture" src="img/profile.png" class="md-avatar" alt="{{offer.user.username}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{offer._creator.firstname}} {{offer._creator.lastname}}</h3>
                <h4>{{offer.title}}</h4>
                <p>{{offer.description}}</p>
                <p>{{offer.date | date: 'dd.MM.yyyy'}}</p>
            </div>
                <md-button class="md-raised" type="button" ng-click="acceptOffer(offer)" ng-if="showAcceptButton(offer)">
                    Accept Offer
                </md-button>
        </md-list-item>
    </md-list>
</md-content>
