<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div>
    <h2>Hello! New to Munich?</h2>
    <p layout-margin>Get the Welcome Package now:</p>
</div>
<md-card create-request layout-align="center center"></md-card>

<div layout="row" layout-xs="column" layout-align="center center">
    <md-card class="feature-card" flex ui-sref="request.list" layout-align="center center">
        <img src="img/education.png" class="md-card-image" layout-padding style="height:100px; width:100px">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Education</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <md-card class="feature-card" flex ui-sref="request.list" layout-align="center center">
        <img src="img/backpack.png" class="md-card-image" layout-padding style="height:100px; width:100px">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Trips</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <md-card class="feature-card" flex ui-sref="request.list" layout-align="center center">
        <img src="img/organization.png" class="md-card-image" layout-padding style="height:100px; width:100px">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Organization</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <md-card class="feature-card" flex ui-sref="request.list" layout-align="center center">
        <img src="img/help.png" class="md-card-image" layout-padding style="height:100px; width:100px">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Help</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
