<div class="item-information" layout-gt-sm="row" layout="column" layout-margin layout-padding>
    <div class="profile-picture" layout="column">
        <img ng-if="offer._creator.picture" ng-src="{{offer._creator.picture}}" class="md-avatar"
             alt="profile picture" ui-sref="profile({userId: request._creator._id})" />
        <img ng-if="!offer._creator.picture" src="img/profile.png" class="md-avatar" alt="profile picture" ui-sref="profile({userId: offer._creator._id})"/>

        <span layout="row" layout-align="center center">
            <i class="material-icons">person</i>
            &nbsp; Free Slots: {{offer.maxNumberOfParticipants - offer._accepters.length}} of {{offer.maxNumberOfParticipants}}
        </span>

        <md-button
            class="md-primary md-raised"
            ng-click="accept()"
            aria-label="accept"
            ng-if="acceptAllowed">

            <div ng-if="haveAccepted">
                Accept
            </div>
            <div ng-if="!haveAccepted">
                Accepted
            </div>
        </md-button>
    </div>
    <form flex-grow layout="column" name="offerForm">
        <h3 class="md-headline">
            <a href="" ui-sref="profile({userId: offer._creator._id})">
                {{offer._creator.firstname}}
            </a>
            offers something awesome!
        </h3>
        <div layout="row">
            <h2 ng-if="!isMyOffer" flex-grow layout-margin layout-padding>{{offer.title}}</h2>
            <input ng-if="isMyOffer" name="title" flex-grow ng-model="offer.title">
            <h3 layout-margin layout-padding>{{offer.type}}</h3>
        </div>
        <div class="item-description" layout="row" layout-margin layout-padding>
            <div layout="column">
                <i class="material-icons">speaker_notes</i>
            </div>
            <p ng-if="!isMyOffer">{{offer.description}}</p>
            <textarea flex ng-if="isMyOffer" ng-model="offer.description"></textarea>
        </div>
        <div layout="row" layout-margin layout-padding>
            <span layout="row" layout-align="center center">
                <i class="material-icons">today</i>
                &nbsp; {{offer.date |date: 'dd.MM.yyyy'}}
            </span>
        </div>
        <md-button ng-if="offerForm.$dirty" class="md-raised md-primary" ng-click="update()">Save</md-button>
    </form>
</div>

<div ng-if="chatEnabled" class="chat-container">
    <h2 layout="row" layout-align="center center" layout-margin layout-padding class="md-headline">Messages</h2>
    <div class="chat-messages-container">
        <div ng-repeat="message in messages" layout="row" class="chat-message">
            <div flex="20" ng-if="isMine(message)"></div>
            <md-card flex ng-class="{'my-message': isMine(message)}" class="message-box" }
                     title="{{message.timestamp | date: 'MMM d, y HH:mm:ss'}}">
                <div class="message-content">{{message.content}}</div>
                <div class="message-timestamp">{{message.timestamp | date: 'HH:mm'}}</div>
            </md-card>
            <div flex="20" ng-if="!isMine(message)"></div>
        </div>
    </div>
    <md-input-container layout="row" class="chat-input md-default-theme">
        <label>Message</label>
        <input flex-grow type="text" name="chat" ng-model="newMessage">
    </md-input-container>
    <div class="chat-message-bar" layout="row" layout-align="end">
        <md-button class="md-primary md-raised" ng-disabled="!newMessage" ng-click="sendMessage()">
            Send
        </md-button>
    </div>
</div>
