<md-card create-request layout-align="center center"></md-card>
<div layout="row" layout-align="start center" layout-margin>
    <h2>Open requests:</h2>
</div>

<div layout="row" layout-align="start center" layout-margin>
    <input type="search" ng-model="searchInDbByTitle" placeholder="Search by title in Database" ng-change="getTitlesFromDb()">
    <input type="search" ng-model="searchInDbByDescription" placeholder="Search by description in Database" ng-change="getDescriptionsFromDb()">
</div>

<md-content>
    <md-list flex>
        <md-list-item
            class="md-3-line md-long-text"
            ng-repeat="request in filteredRequests"
            ui-sref="request.detail({requestId: request._id})">

            <img ng-if="request._creator.picture" ng-src="{{request._creator.picture}}" class="md-avatar"
                 alt="{{request.user.username}}"/>
            <img ng-if="!request._creator.picture" src="img/profile.png" class="md-avatar"
                 alt="{{request.user.username}}"/>

            <div class="md-list-item-text" >
                <h3>{{request._creator.firstname}} {{request._creator.lastname}}</h3>
                <h4>{{request.title}}</h4>
                <p>{{request.description}}</p>
                <p>{{request.date | date: 'dd.MM.yyyy'}}</p>
            </div>

            <md-button class="md-raised md-primary" type="button" ng-click="acceptRequest(request)"
                       ng-if="showAcceptButton(request)">
                Accept Request
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
