<div class="item-information" layout-gt-sm="row" layout="column" layout-margin layout-padding>
    <div class="profile-picture" layout="column">
        <img ng-if="request._creator.picture" ng-src="{{request._creator.picture}}" class="md-avatar"
             alt="profile picture" ui-sref="profile({userId: request._creator._id})"/>
        <img ng-if="!request._creator.picture" src="img/profile.png" class="md-avatar" alt="profile picture"
             ui-sref="profile({userId: request._creator._id})"/>

        <span layout="row" layout-align="center center" ng-if="isMyRequest">
            <i class="material-icons">person</i>
            &nbsp;
            <div ng-if="request._accepter">Accepted by: {{request._accepter.irstname}} {{request._accepter.lastname}}</div>
            <div ng-if="!request._accepter">Still open</div>
        </span>

        <md-button
            class="md-primary md-raised"
            ng-click="accept()"
            aria-label="accept"
            ng-if="acceptAllowed">

            <div ng-if="haveAccepted">
                Accept
            </div>
            <div ng-if="!haveAccepted">
                Accepted
            </div>
        </md-button>
    </div>

    <div flex-grow layout="column">
        <h3 class="md-headline">
            <a href="" ui-sref="profile({userId: request._creator._id})">
                {{request._creator.firstname}}
            </a>
            needs your help!
        </h3>
        <h2 layout-margin layout-padding>{{request.title}}</h2>
        <div class="item-description" layout="row">
            <i layout-margin layout-padding class="material-icons">speaker_notes</i>
            <p>{{request.description}}</p>
        </div>
        <div layout="row" layout-margin layout-padding>
            <span layout="row" layout-align="center center" ng-if="request.date">
                <i class="material-icons">today</i>
                &nbsp; {{request.date |date: 'dd.MM.yyyy'}}
            </span>
        </div>
    </div>
</div>

<div ng-if="chatEnabled" class="chat-container">
    <h2 layout="row" layout-align="center center" layout-margin layout-padding class="md-headline">Messages</h2>
    <div class="chat-messages-container">
        <div ng-repeat="message in messages" layout="row" class="chat-message">
            <div flex="20" ng-if="isMine(message)"></div>
            <md-card flex ng-class="{'my-message': isMine(message)}" class="message-box" }
                     title="{{message.timestamp | date: 'MMM d, y HH:mm:ss'}}">
                <div class="message-content">{{message.content}}</div>
                <div class="message-timestamp">{{message.timestamp | date: 'HH:mm'}}</div>
            </md-card>
            <div flex="20" ng-if="!isMine(message)"></div>
        </div>
    </div>
    <md-input-container layout="row" class="chat-input md-default-theme">
        <label>Message</label>
        <input flex-grow type="text" name="chat" ng-model="newMessage">
    </md-input-container>
    <div class="chat-message-bar" layout="row" layout-align="end">
        <md-button class="md-primary md-raised" ng-disabled="!newMessage" ng-click="sendMessage()">
            Send
        </md-button>
    </div>
</div>
