<div style="position: static">
    <md-toolbar layout-align="center start">
        <md-button class="md-icon-button" hide-gt-xs aria-label="Settings" ng-click="toggleList()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <div layout="row" hide layout-align="center center" show-gt-xs class="md-toolbar-tools">
            <md-button ui-sref="home" ui-sref-active="md-raised">Home</md-button>
            <md-button ui-sref="offer.list" ui-sref-active="md-raised">Offer</md-button>
            <md-button ui-sref="request.list" ui-sref-active="md-raised">Request</md-button>
            <md-button ui-sref="account" ui-sref-active="md-raised">My Account</md-button>
        </div>
    </md-toolbar>

    <md-sidenav md-is-locked-open="$mdMedia('')" md-component-id="left">
        <md-toolbar layout="column">
            <md-button ui-sref="home" ui-sref-active="md-raised" ng-click="toggleList()">Home</md-button>
            <md-button ui-sref="offer.list" ui-sref-active="md-raised" ng-click="toggleList()">Offer</md-button>
            <md-button ui-sref="request.list" ui-sref-active="md-raised" ng-click="toggleList()">Request</md-button>
            <md-button ui-sref="account" ui-sref-active="md-raised" ng-click="toggleList()">My Account</md-button>
        </md-toolbar>
    </md-sidenav>
</div>
